* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.el-dialog {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    border-radius: 10px;
}

.el-dialog__header {
    padding-bottom: 20px !important;
    font-weight: bolder;
    background-color: #4e8ffb;
}

.el-dialog__body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.el-form {
    margin: 1vh 10px;
}

.el-form-item {
    font-weight: bolder;
}

.el-input__inner {
    width: 180px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 180px;
}

.el-table {
    height: 78vh;
    font-size: 14px;
    padding-top: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.el-table__header-wrapper {
    font-size: 16px;
}

.el-table__row {
    height: 7.4vh;
}

.el-pagination {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.el-header {
    display: flex;
    align-items: center;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.el-breadcrumb {
    font-size: 16px !important;
    line-height: 26px !important;
}

.el-aside {
    transition: width .3s;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.el-menu-item {
    height: 40px !important;
    line-height: 40px !important;
    transition: none !important;
}

.el-submenu .el-menu-item {
    min-width: 192px !important;
}

.el-submenu__title {
    height: 40px !important;
    line-height: 40px !important;
}

.el-menu-item-group__title {
    padding: 0 !important;
}

.el-menu-item:hover {
    color: #fff !important;
}

.el-submenu__title:hover {
    color: #fff !important;
}

.el-menu-item.is-active {
    background-color: #1890ff !important;
    border-radius: 6px;
    margin: 4px;
}

.el-menu-item.is-active i {
    margin-left: -4px;
}

.el-menu-item.is-active .el-tooltip i {
    margin-left: -4px;
}